@model steadyforum.Server.Model.Chat

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Readed" class="control-label"></label>
                <input asp-for="Readed" class="form-control" />
                <span asp-validation-for="Readed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uname" class="control-label"></label>
                <input asp-for="Uname" class="form-control" />
                <span asp-validation-for="Uname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chatname" class="control-label"></label>
                <input asp-for="chatname" class="form-control" />
                <span asp-validation-for="chatname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passwordhash" class="control-label"></label>
                <input asp-for="passwordhash" class="form-control" />
                <span asp-validation-for="passwordhash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userlist" class="control-label"></label>
                <input asp-for="userlist" class="form-control" />
                <span asp-validation-for="userlist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idcontent" class="control-label"></label>
                <input asp-for="idcontent" class="form-control" />
                <span asp-validation-for="idcontent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <input asp-for="message" class="form-control" />
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
